
.panel-3col-20 {
  /*  overflow: hidden;  */
}

.panel-3col-20 .panel-col-first {
  float: left;
  width: 20%;
}

.panel-3col-20 .panel-col-first .inside {
  margin: 0 .5em 1em 0;
}

.panel-3col-35 .panel-col {
  float: left;
  width: 35%;
}

.panel-3col-35 .panel-col .inside {
  margin: 0 .5em 1em .5em;
}

.panel-3col-45 .panel-col-last {
  float: left;
  width: 45%;
}

.panel-3col-45 .panel-col-last .inside {
  margin: 0 0 1em .5em;
}

.panel-3col-45 .panel-separator {
  margin: 0 0 1em 0;
}
